[bot]
nick = empirebot
realname = empirebot
nickserv_password = None

host = irc.faforever.com
port = 6667

includes =
    irc3.plugins.command
    e_plugin
    irc3.plugins.storage

storage = json://db.json

autojoins =
    e_clan

moderatedChannels = 
	e_clan

[irc3.plugins.command]
antiflood = true
cmd = !
guard = irc3.plugins.command.mask_based_policy

[irc3.plugins.command.masks]
# this section is used by the guard to secure the bot's command
# change your nickname and uncomment the line below
Washy!*@* = all_permissions
speed2!*@* = all_permissions
speed2_IRC!*@* = all_permissions
* = view
